{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Bienvenidos | {{ block.super}}{% endblock %}

{% block container-content %}

<div class='row'>
    <div class='col-sm-6'>
        

        <h1>Probar Django 3.2</h1>
        <p class="lead">Proyecto del curso de Karlita.</p>
        <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Únete &raquo;</a>
    </div>
<div class='col-sm-6' style ='background-color:black;height:300px;'></div>
</div>
{% endblock %} 

{{titulo}}<br/>
{{request.user}}<br/>
<hr/>
<br/>

{% block content %}
{{ block.super}}
<div class='row'>
    <div class='col-sm-3 pull-right'>
        <p class='lead'>{{ titulo }}</p>
<form method ='POST' action ="">{% csrf_token %}
{{ el_form|crispy }}
<input type='submit' value= 'Regístrate' />
</form>
</div>
<div class='col-sm-3'><p class='lead'>Años de experiencia</p></div>
<div class='col-sm-3'><p class='lead'>Aprende con nosotros</p></div>
<div class='col-sm-3'><p class='lead'>José María hizo esto</p></div>
</div>
{% endblock %}
